<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ghostpuncher.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A227C7991DA758A900EFFD7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A227C7B31DA758AA00EFFD7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A227C7BE1DA758AA00EFFD7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
